<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

<nav class="navbar navbar-expand-lg" style="display: flex;background-color: #3f77cb; overflow: hidden;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GestPro </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <button  (click)="logout()" type="submit" class="btn btn-danger"> Logout </button>

    </div>
  </div>
</nav>

<!-- Layout Container -->
<div class="layout">
  <!-- Sidebar (statique) -->
  <app-sidebar class="sidebar"></app-sidebar>

  <!-- Main Component (scrollable) -->
  <div class="main-component">

      <router-outlet></router-outlet>

  </div>
</div>
