
<div class="sidebar">
  <div class="logo">GestPro</div>

  <!-- Navigation principale -->
  <nav class="main-nav">
    <a  routerLink="/home" routerLinkActive="active">
      <img ngSrc="./layout-dashboard.png" height="18" width="18" alt="dashboard"/>
      Dashboard
    </a>
    <a [routerLink]="'/users/' + localStorage.getItem('USER_ID') + '/workspaces'" [routerLinkActive]="this.workspaceService.boards().length != 0 ? 'active' : ''">
      <img ngSrc="./folder.png" height="18" width="18" alt="dashboard"/>
      Workspaces
    </a>
    <a routerLink="/tasks" routerLinkActive="active">
      <img ngSrc="./layout-list.png" height="18" width="18" alt="dashboard"/>
      Tasks
    </a>
    <a routerLink="/calendar" routerLinkActive="active">
      <img ngSrc="./calendar.png" height="18" width="18" alt="dashboard"/>
      Calendar
    </a>
    <a routerLink="/team" routerLinkActive="active">
      <img ngSrc="./users.png" height="18" width="18" alt="dashboard"/>
      Team
    </a>
    <a routerLink="/settings" routerLinkActive="active">
      <img ngSrc="./settings.png" height="18" width="18" alt="dashboard"/>
      Settings
    </a>
  </nav>

  <b>{{this.workspaceName()}}</b>
  @if (limitedBoards().length !== 0){
    <!-- Barre de recherche -->
    <input
      type="text"
      placeholder="Searching board"
      [(ngModel)]="searchTerm"
      class="board-search"
    />
  }

  <div class="board-section">
    <div class="board-list">
      @for (board of limitedBoards(); track board.id) {
        <a
          [routerLink]="['/boards', board.id]"
          class="board-link"
        >
          <span class="board-dot" [style.background]="board.color"></span>
          {{ board.name }}
        </a>
      }

    </div>

    @if (!showAll && filteredBoards().length > maxVisible) {
      <button
        (click)="showAll = true"
        class="view-more"
      >
        View more
      </button>
    }

  </div>

  <a class="logout" href="http://localhost:8080/logout">
    <img ngSrc="./log-out.png" height="18" width="18" alt="dashboard"/>
    Logout</a>
</div>
