<div class="card-content">
  <!--  <div class="status-badges">
      <span class="badge badge-green">d</span>
      <span class="badge badge-yellow">Oct 4</span>
      <span class="badge badge-blue">6/6</span>
    </div>-->
  @if(this.isHover) {
    <a  (click)="openModal()" ><div (mouseenter)="this.hover()" (mouseleave)="isHover = false"
                                    class="task-name">{{ taskName }}<i class="fa-regular fa-pen-to-square" style=" text-align: right;"></i></div></a>
  } @else {
    <a ><div (mouseenter)="isHover=true" (mouseleave)="isHover = false"  class="task-name">{{ taskName }}</div></a>
  }



  @if(this.isModalOpen){

    <app-task-box

      title="{{taskName}}"
      (confirm)="handleConfirm()"
      (cancel)="handleCancel()"
    >

          <mat-form-field>

            <input
              matInput
              [matDatepicker]="picker"
              (dateInput)="addEvent('input', $event)"
              [(ngModel)]="deadline"
            />

            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

          </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose a time</mat-label>
        <input matInput type="time" [(ngModel)]="selectedTime">
      </mat-form-field>
    </app-task-box>
  }

</div>
