.card-content {
  background-color: #688fca; /* Fond plus clair pour la section centrale */
  border-radius: 8px;
  margin: 0.5rem;
  font-size: 0.9rem;
}
/* Create the hover effect with the white line */
.card-content .task-name:hover{
  border: 2px solid white;
  cursor: pointer;
}

/* On hover, expand the line */
.card-content .task-name:hover::after {
  width: 100%; /* Full width when hovered */
}

.card-content .status-badges {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.badge {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
}

.badge-green {
  background-color: #4CAF50; /* Couleur verte */
}

.badge-yellow {
  background-color: #FFA726; /* Couleur jaune */
}

.badge-blue {
  background-color: #2196F3; /* Couleur bleue */
}

.card-content .task-name {
  background-color: #688fca;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 8px;
  color: #ffffff;
}
