@use '@angular/material' as mat;
.card-content {
  background-color: white;
  border: 1px #d5dcde solid;
  border-radius: 8px;
  margin: 0.5rem;
  font-size: 0.9rem;
  &:hover {
    border: 2px solid #007bff;
    cursor: pointer;
    color: black;
    &::after {
      width: 100%;
    }
  }

  .task-name {
    /*background-color: #688fca;*/
    background-color: white;

    display: flex;
    font-size: 0.9rem;
    justify-content: space-between;
    padding : 0.5em;

    border-radius: 8px;

   /* &:hover {
      border: 2px solid #007bff;
      cursor: pointer;
      &::after {
        width: 100%;
      }
    }*/
  }
  .status-labels {
    display: flex;
    flex-direction: row;
    cursor: pointer;

  }
  .status-badges {
    display: flex;
    padding-top: 6px;
    position: relative;
    flex-direction: row;
    cursor: pointer;
    width: 100%;


    height: 8px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    color: transparent;
  }
}
mat-card {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
mat-chip {
 background-color: #237a23 !important;
  width: 85px !important;
  padding: 0 !important;

}
.dateFormat {
  display: flex;
  padding: 6px;
  margin: 0;
  background-color: #e0e0e0;
  width: 200px;
  border-radius: 4px;
}
.example-full-width {
  width: 100%;
}
.flex-container {
  display: flex;
  justify-content: space-between; /* Espace entre les deux contenus */
  align-items: center; /* Aligne verticalement si nécessaire */
  padding: 10px; /* Facultatif : un peu d'espace autour */
}
.containerList {
  display: flex;
  flex-direction: row;

  &:hover{
    cursor: pointer;
    border-radius: 4px;
    background-color: #e7e5e5;
  }
}
.left-content {
  flex: 0 1 auto; /* Facultatif : le contenu de gauche s'adapte à sa taille */
  width: 90%;
}

.right-content {
  flex: 0 1 auto; /* Facultatif : le contenu de droite s'adapte à sa taille */
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

}

.example-full-width {
  width: 100%;
}

.buttonHide {

  width: 190px;
  padding: 0
}
.labels {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 40px;
  background-color: #0c66e4;
  text-overflow: ellipsis;
  border-radius: 4px;
  margin-right: 5px;
  &:hover{
    opacity: 0.3;
  }
}


/* Bouton de fermeture */
.close-button {
  font-size: 1.5rem;
  margin-right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #888;
}
.dueDate {
  display: flex;
  flex-direction: column;
}
.dueDate h3{
  font-size: 16px;
  line-height: 20px;
}
.close-button:hover {
  color: #555;
}
.flex-container2 {
  display: flex;
  padding: 16px;
  gap: 20px; /* Espacement entre les colonnes */
}

.flex-column1 {
  width:70%; /* Chaque colonne prend 50% */

}
.flex-column2 {

  width:30%;
  display: flex;
 flex-direction: column;

}


.container {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 20px; /* Ajoute un espacement uniforme entre les sections */
  margin: 0;
}
.datePicker {
  display: flex;
  gap: 20px; /* Espacement entre les champs de date et d'heure */
  align-items: center; /* Aligne verticalement les éléments */
  flex-wrap: wrap; /* Permet aux champs de se placer en ligne ou en colonne si nécessaire */
}
.badge {
  display: inline-block;
  width: 40px;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  text-overflow: ellipsis;
  background-color: #FFA726;
  border-radius: 4px;

  margin-left: 10px;

}


// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.chips-overrides((
    outline-color: orange,
  ));
}
.badge-green {
  background-color: #5bbf5b;

}
.badge-yellow {
  background-color: #FFA726;
}
.badge-orange {
  background-color: #f39562;
}

.badge-pink {
  background-color: #ed6dd8;
}

.badge-purple{
  background-color: mediumpurple;
}

.badge-blue {
  background-color: #59a6e3;
}
.badge-red {
  background-color: #ed5d58;
}
.chip {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
 /* padding: 3px;*/
  margin: 7px;

  font-size: 14px;

  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;

  .chip-text {
    margin-right: 8px;
  }

  .chip-delete {
    background: none;
    border: none;

    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: red;
    }
  }

}

.buttonAddList {
  height: 40px;
  margin-top: 10px;
  border-radius: 0;
  border-color: #0c66e4;
  opacity: 0.8;
}
.card-footer {
  margin-top: 0.5rem;
  border-radius: 5px;
  height: 35px;
  width:100%;
  padding: 6px 16px;

  font-weight: 600;
  color: #4e5253;
  margin-right: 3px;
  margin-left: 3px;
  /*  color: #b5b5b5; /* Texte plus clair pour le pied de la carte */
  cursor: pointer;
  background-color: #d5dcde;
  display: flex;
  border-top: none;
}

//.card-footer:hover {
//  background-color: #d5dcde;
//  margin-left: 5px;
//  margin-right: 7px;
//}
