<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">

    <div class="modal-header" style="align-items: center">

      @if(!modifyTitle) {<h2 (mouseup)="modifyTitle = true" >{{ title }}</h2>}
      @else {
          <input class="form-control opacity-75 inputListCard" style="font-size: 18pt;font-weight: 600;height: 30px" [(ngModel)]="title" (keyup.enter)="modifyTitleConfirm()">
      }
      <button class="close-button" (click)="closeModal()"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <button mat-flat-button (click)="onConfirm()" style="border-radius: 5px">Confirm</button>
      <button class="secondary-button" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
