
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <!--<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
             class="img-fluid" alt="Phone image">-->
        <img src="./gestPro-logo-after.png" alt="GestPro Logo" class="img-fluid"/>
      </div>

      <div class="col-md-6 col-lg-5 col-xl-5 offset-xl-1" style="background-color: #eff0e7; padding: 15px; border-radius: 10px">

        <form [formGroup]="myForm" (ngSubmit)="onLogin()">
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <mat-form-field style="width: 100%">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" required>
            </mat-form-field>
          </div>


          <!-- Password input -->

           <mat-form-field style="width: 100%">
             <mat-label>Password</mat-label>
             <input  type="password" matInput formControlName="password" required>
           </mat-form-field>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
          <div class="form-check">
              <input class="form-check-input" style="background-color: #7499b1; border-color: #7499b1 " type="checkbox" value="" id="form1Example3" checked/>
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
            <a href="#" style="color: #7499b1">Forgot password?</a>
          </div>

          <!-- Submit button -->
          <button type="submit" data-mdb-button-init data-mdb-ripple-init (click)="openSnackBar()" class="btn btn-lg btn-block" style="background-color: #7499b1; color: white">Sign
            in
          </button>
          <div style="display: flex;flex-direction: row;justify-content:center;align-items: center;">
            <div id="g_id_onload"
                 [attr.data-client_id]="environment.googleCLientId"
                 data-context="signin"
                 data-ux_mode="popup"
                 data-callback="handleCredentialResponse"
                 data-use_fedcm_for_prompt="true"
                 data-itp_support="true">
            </div>

            <div class="g_id_signin"
                 data-type="standard"
                 data-shape="pill"
                 data-theme="outline"
                 data-text="signin"
                 data-size="large"
                 data-locale="en-US"
                 data-logo_alignment="left">
            </div>
          </div>

          <!--  <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
            </div>

            <a data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
              role="button">
              <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
            </a>
            <a data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
              role="button">
              <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>-->

        </form>
      </div>
    </div>
  </div>

</section>

