

<!--<div class="workspace-header-gradient">-->
<!--  <h1 class="workspace-title-gradient">Your workspaces</h1>-->
<!--</div>-->

<div class="page-header">
  <h1 class="title pill">Your workspaces</h1>
</div>
<div style="margin-left: 20px;margin-bottom: 20px">
  <a routerLink="/home">Home</a> > <span>Your workspaces</span>
</div>
  @if (workspaceCreated) {
    <button mat-flat-button  disabled style="text-decoration: none; border-radius: 5px; margin-left: 10px;  "  (click)="workspaceCreated = false">
      <i class="fa fa-plus"></i> add a workspace</button>
  } @else {
    <button mat-flat-button style="text-decoration: none; border-radius: 5px;margin-left: 20px; " (click)="workspaceCreated = true">
      <i class="fa fa-plus"></i> add a workspace
    </button>
  }


<div class="containerWorkspace">

  @for (workspace of this.workspaces(); track workspace.id) {

   <app-workspace [workspace]="workspace" (onFavoriteToggle)="setFavorite($event)"></app-workspace>

  }

  @if (workspaceCreated) {
    <div >

      <form  [formGroup]="myForm" (ngSubmit)="addWorkspace()" style="background-color: white; border-radius: 12px ;">
        <div class="myInput">

          <input type="text"  class="form-control h-25 opacity-75" style="background-color: whitesmoke;font-weight: bold" formControlName="name" maxlength="512" required="required" aria-label="Small"  placeholder="Enter workspace name" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button type="submit" class="btn btn-sm" style="margin: 10px; background-color: #579DFF; text-decoration: none;"> Add workspace </button>
        <button type="submit" style="background-color: darkgrey; color:white " class="btn btn-light btn-sm" (click)="this.workspaceCreated = false" ><i class="fa-solid fa-times" ></i></button>
      </form>


    </div>
  }
</div>
