
<!--<div style="display: flex; flex-direction: row">-->
<div  style="display: flex; flex-direction: row" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" >
  @for(list of sortedListCard(); track list.id) {


   <app-list-card [listCardId]="list.id" [title]="list.name" cdkDrag></app-list-card>

  }
  @if(!isClicked) {
    <button class="buttonAddList"
            (click)="buttonClicked()">  <i class="fa-solid fa-circle-plus"></i> Add an another list</button>
  } @else {
    <div class="buttonAddList">
    <form  [formGroup]="myForm" (ngSubmit)="addList()">
      <input formControlName="name" required="required">
      <button type="submit" class="bg-primary"> Add a list </button>
    </form>
    </div>
  }
</div>
