
<div style="display: flex; flex-direction: row">
  @for(list of listCard(); track list.id) {

    <app-list-card [listCardId]="list.id" [title]="list.name"></app-list-card>

  }
  @if(!isClicked) {
    <button class="buttonAddList"
            (click)="buttonClicked()">  <i class="fa-solid fa-circle-plus"></i> Add an another list</button>
  } @else {
    <div class="buttonAddList">
    <form  [formGroup]="myForm" (ngSubmit)="addList()">
      <input formControlName="name">
      <button type="submit" class="bg-primary"> Add a list </button>
    </form>
    </div>
  }
</div>
