
/* Container global qui contient la sidebar et le contenu */
.container2 {
  display: flex;
  flex-direction: row; /* Les éléments enfants seront alignés horizontalement */
  height: 100vh; /* Hauteur complète de la fenêtre */
  /*width: 100%; /* Largeur complète */
  /*max-width: 1200px; /* Limite la largeur maximale pour les grands écrans */
  background-color: white;
  margin-left: 0 ;
  padding-left: 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-component {
  display: flex;
  flex-direction: row;

  overflow-x: auto;
}

main {
  background-color: #ebf1fb;/* Dégradé doux du gris clair au bleu pastel */
  min-height: 100vh;
  margin: 0;
  width: 100%;
  display: flex;

  font-family: Arial, sans-serif; /* Police simple et professionnelle */
}
.custom-list {
  list-style-type: none; /* Supprime les marqueurs par défaut */

}

.custom-list li {
  margin-bottom: 10px; /* Ajoute un espacement entre les éléments de la liste */
  /* Ajoutez d'autres styles ici si nécessaire */
}

/* Styles pour le panneau latéral */

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Styles pour le contenu principal */
.content {
  flex: 1; /* Prend tout l'espace restant */
  padding: 20px;
  background-color: #ecf0f1; /* Fond clair pour le contenu */
}

.content h1 {
  margin-bottom: 20px;
}

.content p {
  line-height: 1.6;
}

/* Style de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Conteneur principal pour la mise en page */
.layout {
  display: flex;
  height: calc(100vh); /* Hauteur de la vue moins la hauteur de la navbar */
  overflow: hidden;
}

/* Navbar fixe en haut */
.navbar {
  height: 60px;
  color: white;
}

/* Sidebar fixe sur la gauche */
.sidebar {
  width: 250px;
  color: #fff;

  /*overflow-y: auto; /* Scroll uniquement si le contenu de la sidebar dépasse sa taille */
}

/* Main Component avec défilement dynamique */
.main-component {
  flex: 1; /* Prend tout l'espace restant */

  overflow-y: auto; /* Permet le défilement vertical uniquement dans ce composant */
  background-color: #ecf0f1;
  font-family: Arial, sans-serif;
}
