<div class="card-container" >
  <div class="card">
    <div class="card-header">
      @if(!modifyTitle) {  <span (mouseup)="modifyTitle = true"  style="cursor:pointer"  (mouseout)=" modifyTitle=false" class="title">{{ listCard.name.toLowerCase() }}</span> }
      @else {
        <input class="form-control h-25 opacity-75 inputListCard" [(ngModel)]="listCard.name"  (keyup.enter)="modifyTitleConfirm()">
      }

      <div class="icons" style="cursor: move" (click)="archiveListCard()">
          <i cdkDragHandle class="fa-solid fa-up-down-left-right"></i>
        <i style="cursor: pointer" class="fa-solid fa-box-archive"></i> <!-- Icône de menu -->
      </div>
    </div>


      @for (card of cards(); track card.id) {
        <app-card [card]="card"></app-card>
      }


    @if(!isClicked){
      <div class="card-footer" (click)="isClicked = true;" >
        <a style="display: contents"><div style="margin-right: 10px;"> <i class="fa-solid fa-plus"></i></div>  Add a card</a>
      </div>
    } @else {
      <div >

        <form  [formGroup]="myForm" (ngSubmit)="addCard()" style="background-color: #f1f2f4; border-radius: 12px ;">
          <div style="margin-left: 8px; margin-right: 8px;">
           <!-- <input type="text" class="form-control opacity-75" style="" formControlName="name" maxlength="512" required="required" aria-label="Small"
                   placeholder="Enter list name" aria-describedby="inputGroup-sizing-sm">-->

            <textarea class="myTextArea" (keydown.enter)="addCard()"  #myTextarea (input)="autoResize(myTextarea)" placeholder="Enter card name" formControlName="name" ></textarea>

          </div>
          <button type="submit" class="btn btn-sm" style="margin: 10px; background-color: #005cbb;color:white; text-decoration: none;"> Add card </button>
          <button type="submit"  class="btn btn-light btn-sm" (click)="this.isClicked = false" ><i class="fa-solid fa-times" ></i></button>
        </form>


      </div>
    }


  </div>
</div>
