
<!--<div class="workspace-header-gradient">-->
<!--  <h1 class="workspace-title-gradient">{{this.mainService.getWorkspace()}}</h1>-->
<!--</div>-->
<div class="page-header">
  <h1 class="title pill">Your boards</h1>
</div>
<div style="margin-left: 20px;margin-bottom: 20px;">
  <a routerLink="/home">Home</a>
  <span> &gt; </span>
  <a [routerLink]="['/users/',localStorage.getItem('USER_ID'),'workspaces']">Your workspaces</a>
  <span> &gt; </span>
 <span>{{ this.mainService.workspace() }}</span>

</div>
<div>
  <button mat-flat-button style="text-decoration: none; border-radius: 5px; margin-left: 10px" (click)="this.boardCreated = true">
    <i class="fa fa-plus"></i> add a board
  </button>
</div>


<div class="containerBoard">
  <div class="board-search-wrapper">
    <input
      type="text"
      placeholder="Search board..."
      [(ngModel)]="searchTerm"
      class="board-search"
    />
  </div>
  @if (boardCreated) {

    <div class="cards-container">
    <div class="card">
      <form [formGroup]="myForm" (ngSubmit)="addBoard()" >
        <div class="card-header">
          <mat-form-field appearance="outline" style="width: 80%">
            <mat-label>Title </mat-label>
          <input matInput type="text" formControlName="name"/>
          </mat-form-field>
          <span class="status-badge">🟡 In progress</span>
        </div>

        <div class="card-description">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Description</mat-label>
            <textarea matInput
                      placeholder="Briefly describe the purpose of the board"
                      formControlName="description"
                      maxlength="200"
                      rows="3"></textarea>
            <mat-hint align="end">{{ this.description().length || 0 }}/200</mat-hint>
          </mat-form-field>

        </div>
        <div class="card-description">
<!--          <label for="cardDescription">Members :</label>-->
          <mat-form-field appearance="outline">
          <mat-chip-grid #chipGrid aria-label="Member selection">
            @for (user of this.users(); track user.id) {

              <mat-chip-row (removed)="remove(user)">
                <img
                  matChipAvatar
                  [src]="user.pictureUrl"
                  [alt]="user.username"
                />{{user.username}}

                <button matChipRemove [attr.aria-label]="'remove ' + user.username">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-grid>
          <input
            name="currentUser"
            placeholder="New member..."
            #memberInput
            [formControl]="currentUser"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"

          />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); memberInput.value = ''">
            @for (user of filteredUser(); track user.username) {
              <mat-option [value]="user.username"> {{user.username}}</mat-option>
            }
          </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="card-footer">

        <div style="display: flex;justify-content: space-between">
          <button class="btn-open" type="submit">Create</button>
          <a class="btn-closed" (click)="cancel()" >Cancel</a>
        </div>

      </div>
</form>

    </div>

    </div>

    <!--
          <form  [formGroup]="myForm" (ngSubmit)="addBoard()" style="background-color: white; border-radius: 12px ;">
            <div class="myInput">
              <p>name</p>
              <input type="text"  class="form-control h-25 opacity-75" style="background-color: whitesmoke;font-weight: bold" formControlName="name" maxlength="512" required="required" aria-label="Small"  placeholder="Enter board name" aria-describedby="inputGroup-sizing-sm">
              <p>description</p>
              <textarea  class="form-control h-25 opacity-75" style="background-color: whitesmoke;font-weight: bold" formControlName="description" maxlength="512"  aria-label="Small"  placeholder="Enter description" aria-describedby="inputGroup-sizing-sm"></textarea>
            </div>
            <button type="submit" class="btn btn-sm" style="margin: 10px; background-color: #579DFF; text-decoration: none;"> Add board </button>
            <button type="submit"  style="background-color: darkgrey; color:white " class="btn btn-light btn-sm" (click)="this.boardCreated = false" ><i class="fa-solid fa-times" ></i></button>
          </form>
    -->

  }
  <div class="cards-container">
  @for (board of filteredBoard(); track board.id) {
    <div class="card">
      <div class="card-header">
        @if(!editingBoard[board.id!]){
          <h3>{{ board.name }}</h3>
        } @else {
          <input type="text"
                 class="w-full border p-1 rounded"
                 [(ngModel)]="board.name"
                 placeholder="Board name"/>
        }

        @if(!editingBoard[board.id!]){
        <span class="status-badge">
          {{ board.status === 'DONE' ? '✅ Finished' : '🟡 In progress' }}
        </span>
        } @else {
          <mat-form-field appearance="outline" >
            <mat-label>Select</mat-label>
            <mat-select [(value)]="status">
              <mat-option value="IN_PROGRESS">In progress</mat-option>
              <mat-option value="DONE">Finished</mat-option>
            </mat-select>
          </mat-form-field>
        }
      </div>
      <div class="bg-white border border-gray-200 rounded-lg p-3 shadow-sm mt-2">
        <div class="flex items-center mb-2 text-blue-700 font-semibold">
          <mat-icon class="mr-1 text-base" style="color: #0c66e4;margin-top : 10px">info</mat-icon>
          About this board
        </div>
        @if(!editingBoard[board.id!]){
          <div [ngClass]="{'line-clamp-3': !expandedDesc[board.id!]}">
            {{ board.description || 'No description provided.' }}
          </div>
        } @else {
          <textarea class="w-full border p-1 rounded"
                    rows="3"
                    [(ngModel)]="board.description"
                    placeholder="Board description">
            </textarea>
        }
        @if (board.description?.length!  > 150) {
          <a
            (click)="toggleDesc(board.id!)"
            class="text-blue-500 text-xs mt-1 hover:underline">
            {{ expandedDesc[board.id!] ? 'See less' : 'See more' }}
          </a>
        }

      </div>

      <div class="card-body">
        @if (board.weeksSinceUpdate > 0) {
          <p class="board-meta" style="padding-left: 15px">Updated {{board.weeksSinceUpdate}} {{board.daysSinceUpdate > 1 ? "weeks": "week"}} ago</p>
        }
        @else if (board.daysSinceUpdate > 0){
          <p class="board-meta" style="padding-left: 15px">Updated {{board.daysSinceUpdate}} {{board.daysSinceUpdate > 1 ? "days": "day"}} ago</p>
        } @else if (board.hoursSinceUpdate > 0) {
          <p class="board-meta" style="padding-left: 15px">Updated {{board.hoursSinceUpdate}} {{board.hoursSinceUpdate > 1 ? "hours": "hour"}} ago</p>
        } @else if(board.minutesSinceUpdate > 0){
          <p class="board-meta" style="padding-left: 15px">Updated {{board.minutesSinceUpdate}} {{board.minutesSinceUpdate > 1 ? "minutes": "minute"}} ago</p>
        } @else {
          <p class="board-meta" style="padding-left: 15px">Updated {{board.secondsSinceUpdate}} {{board.minutesSinceUpdate > 1 ? "seconds": "second"}} ago</p>
        }

      </div>
      <div style="padding-left: 10px; padding-bottom: 10px">
        @if (!editingBoard[board.id!]){

        <mat-chip-set aria-label="Fish selection">

          @for (user of board.members.slice(0,3); track user) {

            <mat-chip (removed)="remove(user)">
              <img
                matChipAvatar
                [src]="user.pictureUrl != null? user.pictureUrl : './circle-user.png'"
                [alt]="user.username"
              />{{user.username}}
            </mat-chip>

          }
          @if (board.members.length > 3) {
            <mat-chip>+{{board.members.length - 3 }}</mat-chip>
          }
        </mat-chip-set>
        } @else {
          <mat-form-field appearance="outline">
            <mat-chip-grid #chipGrid aria-label="Member selection">
              @for (user of this.users(); track user.id) {

                <mat-chip-row (removed)="remove(user)">
                  <img
                    matChipAvatar
                    [src]="user.pictureUrl"
                    [alt]="user.username"
                  />{{user.username}}

                  <button matChipRemove [attr.aria-label]="'remove ' + user.username">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              }
            </mat-chip-grid>
            <input
              name="currentUser"
              placeholder="New member..."
              #memberInput
              [formControl]="currentUser"
              [matChipInputFor]="chipGrid"
              [matAutocomplete]="auto"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"

            />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); memberInput.value = ''">
              @for (user of filteredUser(); track user.username) {
                <mat-option [value]="user.username"> {{user.username}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        }
      </div>


      <div class="card-footer">
        <div class="members">
          👥 {{board.members.length }} {{board.members.length > 1 ?  "members" : "member"}}
        </div>
        <div class="members">
          {{board.cardCount}} {{board.cardCount > 1 ? "cards" : "card"}}
        </div>
        <div>
          @if (board.ownerId == Number(localStorage.getItem("USER_ID"))) {
            @if(!editingBoard[board.id!]){
            <span (click)="toggleEdit(board.id!)" style="cursor: pointer;">
              <img ngSrc="./square-pen.png" alt="pen" width="20" height="20" />
            </span>
            <a [routerLink]="'/boards/' + board.id" class="btn-open">Open</a>
            }
            @else{
              <span class="ml-2">
                <a (click)="saveBoard(board)" class="btn-save">Save</a>
                <a (click)="toggleEdit(board.id!)" class="btn-closed">Cancel</a>
                </span>
            }
          }

        </div>
      </div>
    </div>
  }
  </div>



</div>
